<a href="https://colab.research.google.com/github/shashismg/python/blob/main/pandas/dataframe_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [3]:
df = pd.read_csv("movies.csv")
df.shape

(37, 10)

In [4]:
df.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

In [6]:
df.industry.unique()

array(['Bollywood', 'Hollywood'], dtype=object)

In [7]:
df.industry.value_counts()

industry
Hollywood    20
Bollywood    17
Name: count, dtype: int64

In [8]:
df.language.value_counts()

language
English    20
Hindi      12
Telugu      3
Bengali     1
Kannada     1
Name: count, dtype: int64

In [9]:
df[df.language == 'Kannada']

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
33,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,Kannada

In [12]:
df_new = df[['title', 'imdb_rating', 'industry']]
df_new.head(1)

             title  imdb_rating   industry
0  Pather Panchali          8.3  Bollywood